<header>
    <nav>
      <div class="nav-header flex justify-between items-center">
        <div class="logo text-xl font-bold">logo</div>
  
        <div class="search-user flex items-center gap-3">
          
  
          <!-- โปรไฟล์ -->
          <div class="profile relative">
            <button id="profileBtn" class="p-2">
              <i class="bx bx-user text-2xl"></i>
            </button>
            <div id="profileMenu" class="dropdown hidden absolute right-0 mt-2 bg-white shadow rounded w-40 z-50">
              <div id="profileContent"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="nav-body flex justify-between items-center mt-2">
        <ul class="nav-links flex gap-4">
          <li><a href="/" class="hover:underline">หน้าหลัก</a></li>
          <li><a href="/create" class="hover:underline">สร้างผลงาน</a></li>
        </ul>
      </div>
    </nav>
  </header>
  