<header>
    <nav>
        <div class="nav-header">
            <div class="logo">logo</div>
        </div>

        <div class="nav-body">
            <ul class="nav-links">
                <li><span><a href="/light-novel">หน้าหลัก</a></span></li>
            </ul>
        </div>
    </nav>
</header>